.orderNavbar{
    border: none !important;
}
.navbar-toggler:focus{
    border-color: #EDECEC;

}
.navbar-light .navbar-toggler{
    box-shadow: none;
}
.navbar-toggler{
    background-color: #EDECEC;
    border:1px solid #EDECEC

}
.bgNavbar{
    background: #EDECEC
}
.linksimatbdi{
    margin-left: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 17px;
    font-weight: 500;
    color: #fff;
}
